.default {
  background-color: #EA9AB2;
  border: #EA9AB2;
}

.default:active, .default:active:focus, .default:focus {
  background-color: #eeadc0;
  border: #eeadc0;
  box-shadow: 0 0 5px 1px #eeadc0;
}

.default:hover, .default:hover:active:focus {
  background-color: #eeadc0;
  border: #eeadc0;
}

.next {
  position: fixed;
  top: 80%;
  right: 30%;
  background-color: #7CD47E;
  border: #7CD47E;
}

.next:active, .next:active:focus, .next:focus {
  background-color: #4AD94D;
  border: #4AD94D;
  box-shadow: 0 0 5px 1px #4AD94D;
}

.next:hover, .next:hover:active:focus {
  background-color: #4AD94D;
  border: #4AD94D;
}

.prev {
  position: fixed;
  top: 80%;
  left: 30%;
  background-color: #84BC85;
  border: #84BC85;
}

.prev:active, .prev:active:focus, .prev:focus {
  background-color: #7AA07B;
  border: #7AA07B;
  box-shadow: 0 0 5px 1px #7AA07B;
}
.prev:hover, .prev:hover:active:focus {
  background-color: #7AA07B;
  border: #7AA07B;
}

.nextnopos {
  background-color: #7CD47E;
  border: #7CD47E;
}

.nextnopos:active, .nextnopos:active:focus, .nextnopos:focus {
  background-color: #4AD94D;
  border: #4AD94D;
  box-shadow: 0 0 5px 1px #4AD94D;
}

.nextnopos:hover, .nextnopos:hover:active:focus {
  background-color: #4AD94D;
  border: #4AD94D;
}