#model-dropdown {
  margin-top: 2%;
  margin-bottom: 0%;
  background-color: #916f69;
  border: #9C7D77;
}

#model-dropdown:hover {
  box-shadow: 0 0 2px 1px #331c17;
}

#model-dropdown:focus {
  box-shadow: 0 0 5px 1px #1d0d0a;
  background-color: #9b7973;
}

.model {
  background-color: #D7B8B2;
  text-align: center;
  min-width: 184px;
}

.model a:hover, .model a:hover:active:focus {
  color: #4C3936;
  background-color: #E5C8C2;
  z-index: 0;
}

.model a:active, .model a:active:focus {
  color: #4C3936;
  background-color: #E5C8C2;
  box-shadow: 0 0 5px 1px #3b2520;
  z-index: 1;
}